    html, body {
        height: 100%;
        min-height: 100%;
        margin: 0;
        padding: 0;
    }
    .split-pane-divider {
        background: #aaa;
    }
    #left-component {
        width: 20em;
    }
    #my-divider {
        left: 20em; /* Same as left component width */
        width: 5px;
    }
    #right-component {
        left: 20em;  /* Same as left component width */
        margin-left: 5px;  /* Same as divider width */
    }
